        <div class="row sea">
              <h4 style="color:#337ab7">Search Your Resource :</h4>
              <div class="col-sm-3">
              
              <input type="text" class="form-control" ng-model="search.skills" placeholder="Skills">
              
              </div>
              <div class="col-sm-3">
              <input type="text" class="form-control" ng-model="search.jobCategory" placeholder="job Category">
              </div>
              <div class="col-sm-2">
              <input type="text" class="form-control" ng-model="search.city" placeholder="Location">
              </div>
              <div class="col-sm-2">
              <input type="text" class="form-control" ng-model="search.totalExperience" placeholder="Experience">
              </div>
              
              <div class="col-sm-2">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Search</button>
              </div>
              
              </div>